<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">
  <header>
    <meta charset="UTF-8" />
    <!-- daisy ui -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- fontawesome icon -->
    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- spoqa han sans -->
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />

    <style>
      * {
        font-family: "Spoqa Han Sans Neo", "sans-serif";
      }
    </style>
  </header>
</html>
