<!-- stocks.html -->
<!DOCTYPE html>
<html data-theme="bumblebee" xmlns:th="http://www.thymeleaf.org">
  <head>
    <header th:replace="header :: HeaderFragment"></header>
    <title th:text="${pageTitle}">Default Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="container h-screen m-auto">
      <div class="flex flex-col h-full">
        <div class="h-4"></div>
        <div class="navbar bg-base-200 shadow-xl rounded-box">
          <div class="flex-1">
            <a class="btn btn-ghost text-xl">황알거</a>
          </div>
          <div class="flex flex-row gap-3">
            <button
              class="btn btn-neutral"
              th:if="${login == false}"
              th:onclick="moveLogin()"
            >
              로그인
            </button>
            <button
              class="btn btn-outline"
              th:if="${login == false}"
              th:onclick="moveRegister()"
            >
              회원가입
            </button>
            <div style="right: 10px; color: aqua"></div>
            <form th:action="@{/logout}" method="post">
              <button
                class="btn btn-dark"
                th:if="${login == true}"
                th:onclick="moveLogout()"
              >
                로그아웃
              </button>
            </form>
          </div>
        </div>
        <div class="h-4"></div>
        <div class="flex flex-row grow">
          <div class="basis-9/12 flex flex-col">
            <div class="basis-10/12">
              <div class="w-full h-full p-10 relative">
                <div
                  id="select-coin-hero"
                  class="hero w-full h-full bg-base-200 rounded rounded-lg shadow shadow-lg"
                >
                  <div class="hero-content text-center">
                    <div class="max-w-md">
                      <h1 class="text-5xl font-bold">종목을 선택해보세요</h1>
                      <p class="py-6">
                        우량한 비트코인도, 영세한 알트코인도 가능성을 예측하고
                        수익을 실현해보세요.
                      </p>
                    </div>
                  </div>
                </div>

                <canvas
                  class="absolute w-full h-full left-0 top-0"
                  id="myChart"
                >
                </canvas>
              </div>
            </div>
            <div class="basis-2/12 flex">
              <div class="grow"></div>
              <div class="stats shadow m-auto">
                <div class="stat place-items-center">
                  <div class="stat-title">현재가</div>
                  <div class="stat-value">57,589,000₩</div>
                  <div class="stat-desc">2024-01-26 10:25:00</div>
                </div>

                <div class="stat place-items-center">
                  <div class="stat-title">예측가</div>
                  <div class="stat-value text-secondary">57,589,000₩</div>
                  <div class="stat-desc text-secondary">↗︎ 42,000(2%)</div>
                </div>

                <div class="stat place-items-center">
                  <div class="stat-title">이전 예측 차이</div>
                  <div class="stat-value">120,000₩</div>
                </div>
              </div>
              <div class="grow"></div>
            </div>
          </div>
          <div class="divider lg:divider-horizontal"></div>
          <div class="grow flex flex-col">
            <div class="basis-1/12 text-center">
              <span class="text-2xl">종목</span>
            </div>
            <div class="basis-11/12 overflow-y-auto border border-base-200">
              <ul class="menu flex flex-col flex-warp">
                <li th:each="stock : ${stocks}">
                  <div class="stock-details flex w-full">
                    <div
                      class="basis-2"
                      th:onclick="toggleFavorite([[${stock}]])"
                    >
                      <i th:if="${favorites == null or not #lists.contains(favorites, stock.id)}" class="fa-solid fa-heart text-gray-800"></i>
                      <i th:if="${favorites != null and #lists.contains(favorites, stock.id)}" class="fa-regular fa-heart text-pink-600"></i>
                    </div>
                    <div
                      class="basis-10"
                      th:onclick="handleStockClick([[${stock}]])"
                    >
                      <div class="stock-name" th:text="${stock.name}"></div>
                      <div
                        class="stock-price"
                        th:text="${stock.latestPrice} + '원'"
                      ></div>
                      <div
                        class="rate"
                        th:text="${stock.errorRate} + '%'"
                      ></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      var favorites = [[${favorites}]];
      var myChart;

      function toggleFavorite(stock) {
        if (!favorites.includes(stock.id)) {
          fetch(`/favorite/${stock.code}`, { method: "POST" })
                  .then((response) => {
                    if (!response.ok) {
                      throw new Error(
                              `Network response was not ok: ${response.status}`
                      );
                    }
                    return response.json();
                  })
                  .then((body) => {
                    if (!favorites.find((favorite) => favorite === stock.name))
                      favorites.push(stock.name);
                  });
        }
        else if (favorites.includes(stock.id)) {
          fetch(`/favorite/${stock.code}`, { method: "DELETE" })
                  .then((response) => {
                    if (!response.ok) {
                      throw new Error(
                              `Network response was not ok: ${response.status}`
                      );
                    }
                    return response.json();
                  })
                  .then((body) => {
                    if (!favorites.find((favorite) => favorite === stock.name))
                      favorites.push(stock.name);
                  });
        }
      }

      function handleStockClick(stock) {
        if (myChart) {
          myChart.destroy();
        }

        fetch("stock/" + stock.name)
          .then((response) => {
            if (!response.ok) {
              throw new Error(
                `Network response was not ok: ${response.status}`
              );
            }
            return response.json();
          })
          .then((jsonData) => {
            const readyHero = document.getElementById("select-coin-hero");
            readyHero && readyHero.remove();
            const ctx = document.getElementById("myChart").getContext("2d");

            myChart = new Chart(ctx, {
              type: "line",
              data: {
                labels: [
                  -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7,
                  -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                ],
                datasets: [
                  {
                    label: "Price of " + stock.name,
                    data: jsonData,
                    borderWidth: 2,
                    tension: 0.6,
                    segment: {
                      borderDash: (ctx) =>
                        ctx.p1DataIndex > 20 ? [6, 6] : undefined,
                    },
                  },
                ],
              },
              options: {
                scales: {
                  x: {
                    title: {
                      display: true,
                      text: "Minute",
                    },
                  },
                  y: {
                    suggestedMin: Math.min(...jsonData),
                    suggestedMax: Math.max(...jsonData),
                    title: {
                      display: true,
                      text: "Price",
                    },
                  },
                },
                responsive: true,
                maintainAspectRatio: false,
              },
            });
            var selectedStockText =
              document.getElementById("selectedStockText");
            selectedStockText.style.display = "none";
          })
          .catch((error) => console.error("파일을 읽는 중 오류 발생:", error));
      }
    </script>

    <script>
      function moveLogin() {
        location.href = "/login";
      }

      function moveRegister() {
        location.href = "/join";
      }

      function moveLogout() {
        location.href = "/logout";
      }
    </script>
  </body>
</html>
