<!-- stocks.html -->
<!DOCTYPE html>
<html data-theme="emerald" xmlns:th="http://www.thymeleaf.org">
  <head>
    <header th:replace="header :: HeaderFragment"></header>
    <title th:text="${pageTitle}">Default Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="container h-screen m-auto">
      <div class="flex flex-col">
        <div class="basis-1/12 navbar bg-base-100 shadow-xl rounded-box">
          <div class="flex-1">
            <a class="btn btn-ghost text-xl">황알거</a>
          </div>
          <div class="flex-none">
            <button
              class="btn btn-dark"
              th:if="${login == false}"
              th:onclick="moveLogin()"
            >
              로그인
            </button>
            <button
              class="btn btn-light"
              th:if="${login == false}"
              th:onclick="moveRegister()"
            >
              회원가입
            </button>
            <div style="right: 10px; color: aqua"></div>
            <form th:action="@{/logout}" method="post">
              <button
                class="btn btn-dark"
                th:if="${login == true}"
                th:onclick="moveLogout()"
              >
                로그아웃
              </button>
            </form>
          </div>
        </div>
        <div class="flex flex-row basis-11/12">
          <div class="basis-5/6 flex flex-col">
            <div class="basis-1/12">
              <h4 class="text-center">종목을 선택하세요</h4>
            </div>
            <div class="basis-8/12">
              <canvas class="graph-container" id="myChart"> </canvas>
            </div>
            <div class="basis-3/12">
              <div class="stats shadow">
                <div class="stat">
                  <div class="stat-figure text-primary">
                    <i class="fa-solid fa-arrow-trend-up text-2xl"></i>
                  </div>
                  <div class="stat-title">BTC</div>
                  <div class="stat-value text-primary">57,589,000₩</div>
                  <div class="stat-desc">2% 상승 예상</div>
                </div>
              </div>
            </div>
          </div>
          <div class="basis-1/6 flex flex-col">
            <div>
              <h3>종목</h3>
            </div>
            <div>
              <ul class="menu bg-base-200 w-56 rounded-box">
                <li
                  th:each="stock : ${stocks}"
                  th:onclick="handleStockClick([[${stock}]])"
                >
                  <a>
                    <div class="stock-details">
                      <div class="stock-name" th:text="${stock.name}"></div>
                      <div
                        class="stock-price"
                        th:text="${stock.latestPrice} + '원'"
                      ></div>
                      <div
                        class="rate"
                        th:text="${stock.errorRate} + '%'"
                      ></div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      var myChart;
      function handleStockClick(stock) {
        if (myChart) {
          myChart.destroy();
        }

        fetch("stock/" + stock.name)
          .then((response) => {
            if (!response.ok) {
              throw new Error(
                `Network response was not ok: ${response.status}`
              );
            }
            return response.json();
          })
          .then((jsonData) => {
            const ctx = document.getElementById("myChart").getContext("2d");

            myChart = new Chart(ctx, {
              type: "line",
              data: {
                labels: [
                  -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7,
                  -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                ],
                datasets: [
                  {
                    label: "Price of " + stock.name,
                    data: jsonData,
                    borderWidth: 1,
                  },
                ],
              },
              options: {
                scales: {
                  x: {
                    title: {
                      display: true,
                      text: "Minute",
                    },
                  },
                  y: {
                    suggestedMin: Math.min(...jsonData),
                    suggestedMax: Math.max(...jsonData),
                    title: {
                      display: true,
                      text: "Price",
                    },
                  },
                },
                responsive: true,
                maintainAspectRatio: false,
              },
            });
            var selectedStockText =
              document.getElementById("selectedStockText");
            selectedStockText.style.display = "none";
          })
          .catch((error) => console.error("파일을 읽는 중 오류 발생:", error));
      }
    </script>

    <script>
      function moveLogin() {
        location.href = "/login";
      }

      function moveRegister() {
        location.href = "/join";
      }

      function moveLogout() {
        location.href = "/logout";
      }
    </script>
  </body>
</html>
